.logo {
    width: 180px;
    height: auto;
}


#url {
    text-align: center;
    text-decoration: none;
    color: darkgray;
}


#button {
    text-align: center;
}


button {
    color: seashell;
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
    width: 64px;
    padding: 3px;
    margin: 4px;
    border-radius: 4px;
}


button:focus {
	outline:0;
}


#like-btn {
    background-color: #53c9aa;
}


#nope-btn {
    background-color: #e86666;
}
